body {
    background-image: url("camoblur.png");
    background-size: 1024px 1024px;
    height: auto;
    
  }
 
.card {

    margin-top: 70px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.623);
    color: white;


}
h1{
    color:white;
    padding-top: 10px;
    font-size: 75px;
    padding:0px;
    margin: 0px;
    line-height:100px;
    text-shadow: 0 -1px 2px rgba(255, 255, 255, 0.25);
    width:310px;
    float: left;
    font-family: 'Spicy Rice',Helvetica,sans-serif;
    
}
.logo { 
    height: auto;
    width: 100px;

}
